@model NS_Analytics.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<h4>Change your account settings</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Password", new { @class = "control-label col-md-2" })
            <div class="form-control-static col-md-10">
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword", new { htmlAttributes = new { @class = "form-control" } })
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Roles", new { @class = "control-label col-md-2" })
            <div class="form-control-static col-md-10">
                @String.Join(";", Model.Roles)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Selected Period", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedPeriodId, Model.AllPeriods, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedPeriodId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


