<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
        <li>@Html.ActionLink("Periods", "Index", "Periods", htmlAttributes: new { @style = "background-color:#C0C0C0" })</li>
        <li>@Html.ActionLink("Questions", "Index", "Questions")</li>
        <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
        <li>@Html.ActionLink("Users", "Index", "Users")</li>
        <li>@Html.ActionLink("Results", "Index", "Results")</li>
    </ul>
</div>