@model NS_Analytics.ViewModels.AnswersViewModel

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Elicitatie", "Elicitatie", "Home")</li>
        <li>@Html.ActionLink("Analyse", "Analyse", "Home", htmlAttributes: new { @style = "background-color:#C0C0C0" })</li>
        <li>@Html.ActionLink("Specificatie", "Specificatie", "Home")</li>
        <li>@Html.ActionLink("Validatie", "Validatie", "Home")</li>
    </ul>
</div>

<h2>Analyse</h2>

@Html.Partial("AnswersForm", Model)
