@model NS_Analytics.ViewModels.QuestionsInputViewModel
@{

    ViewBag.Title = "Home Page";
}

<h2>Antwoorden</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @foreach (var item in Model.Questions)
        { 
            <div class="form-group">
                <div class="col-md-10">
                    @{
                        var radioSelection = "RB" + item.Id;
                    }
                    <div>
                        @Html.Label(item.Value, htmlAttributes: new { @style = "min-width:500px" })
                        @Html.RadioButton(radioSelection, 1, htmlAttributes: new { @class = "" }) Ja
                        @Html.RadioButton(radioSelection, 0, htmlAttributes: new { @class = "" }) Nee
                        @Html.RadioButton(radioSelection, 2, htmlAttributes: new { @class = "" }) Later
                    </div>
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
