@model NS_Analytics.ViewModels.AnswersViewModel
@{

    ViewBag.Title = "Home Page";
}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Elicitatie", "Elicitatie", "Home")</li>
        <li>@Html.ActionLink("Analyse", "Analyse", "Home")</li>
        <li>@Html.ActionLink("Specificatie", "Specificatie", "Home")</li>
        <li>@Html.ActionLink("Validatie", "Validatie", "Home", htmlAttributes: new { @style = "background-color:#C0C0C0" })</li>
    </ul>
</div>

<h2>Validatie</h2>

@Html.Partial("AnswersForm", Model)


