
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Projects", "Projects", "Management", htmlAttributes: new { @style = "background-color:#C0C0C0" })</li>
        <li>@Html.ActionLink("Periods", "Periods", "Management")</li>
        <li>@Html.ActionLink("Questions", "Questions", "Management")</li>
        <li>@Html.ActionLink("Users", "Users", "Management")</li>
        <li>@Html.ActionLink("Categories", "Categories", "Management")</li>
        <li>@Html.ActionLink("Users", "Users", "Management")</li>
    </ul>
</div>

<h2>Projects</h2>

